*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
    font-size: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 3rem;
    height: 100%;
    color: #777;
}

/* Block Content */
.content {
    background-color: #f2f2f2;
    padding: 6rem 8rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

/* Header */
.header {
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
}

.header_nav {
    padding: 2.5rem 0rem;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
}

/* chat box */
.chat_view {
    background-color: #fff;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.chat_view_nav {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 32rem 0 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#7dd56f),
      to(#28b487)
    );
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    padding: 4rem 0;
}

.chat_view_heading {
    margin: 0 25rem 1.5rem 4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1.5px solid currentColor;
}

.chat_item {
    list-style: none;
}

.chat_item li {
    margin: 1rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.chat_item li:hover {
    border-left: 4px solid #fff !important;
}

.chat_item a:link,
.chat_item a:visited {
    padding: 1rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.chat_item a:hover,
.chat_item a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}

.user_box {
    margin-top: 5.5rem;
}

.chat_view_messages {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 7rem 0;
}

.chat_view_form-container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
}

/* Footer */
.footer {
    background-color: #f2f2f2;
    text-align: center;
  }

.footer_copyright {
  font-size: 1.4rem;
  padding-bottom: 3rem;
  font-weight: 550;
}

/* Buttons */
.btn {
  border-radius: 10rem;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #777;
  padding: 0.5rem 1rem !important;
  font-size: 1.2rem !important;
  margin: 1rem 4rem;
}

.btn_login {
    border-radius: 10rem;
    text-transform: capitalize;
    text-decoration: none;
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    color: #fff;
    padding: 0.5rem 1rem !important;
    font-size: 1.2rem !important;
    margin: 1rem 4rem;
}

#m {
    width: 88%
}

.btn_send {
    padding: 0.5rem 1rem !important;
    background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    color: #fff;
    border-radius: 5px;
}

#messages li {
    list-style: none;
    background-color: #f2f2f2;
    margin-top: 1rem;
}

.heading_secondary {
    font-size: 2.25rem;
    text-transform: none;
    font-weight: 700;
    color: #28b487;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 2rem !important;
    margin-left: 0rem;
}

.form {
    margin: 0 auto;
    max-width: 55rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
}

.form_group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.form_label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.form_input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}