{% extends "layout.html" %}
{% block content %}
<div class="chat_view">
    <nav class="chat_view_nav">
        <div>
            <h4 class="chat_view_heading">Chat Rooms</h4>
            <ul id="channels" class="chat_item">

            </ul>
            <div> 
                <button class="btn" id="create-channel">create new chatroom</button>
            </div>
        </div>
        <div class="line">
            &nbsp;
        </div>
        <div>
            <h4 class="chat_view_heading">Active Users</h4>
            <ul id="users" class="chat_item">

            </ul>
            <div id="change-username-container"> 
                <button class="btn" id="change-username">change your username</button>
            </div>
        </div>
    </nav>
    <div class="chat_view_messages">
        <div class="chat_view_form-container">
            <h2 class="heading_secondary">Your Chat History</h2>
            <div id="messages-container">
                <ul id="messages">
        
                </ul>
            </div>
            <div id="message-form-container">
                <form class="form-inline w-100">
                    <input type="text" class="form-control mr-2" id="m" placeholder="Type message here..." autofocus>
                    <button type="submit" class="btn_send" id="send">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}