{% extends "layout.html" %}
{% block content %}
<div class="chat_view">
    <nav class="chat_view_nav">
        <div>
            <h4 class="chat_view_heading">Channels</h4>
            <ul id="channels" class="chat_item">

            </ul>
            <div> 
                <button class="btn" id="create-channel">create new channel</button>
            </div>
        </div>
        <div class="line">
            &nbsp;
        </div>
        <div>
            <h4 class="chat_view_heading">Users</h4>
            <ul id="users" class="chat_item">

            </ul>
            <div id="change-username-container"> 
                <button class="btn" id="change-username">change username</button>
            </div>
        </div>
    </nav>
    <div class="chat_view_messages">
        <div class="chat_view_form-container">
            <div class="row" id="messages-container">
                <ul id="messages">
        
                </ul>
            </div>
            <div class="row w-100" id="message-form-container">
                <form class="form-inline w-100">
                        <input type="text" class="form-control col-auto mr-3" id="m" placeholder="type message here..." autofocus>
                        <button type="submit" class="btn btn-outline-info mr-0" id="send">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}