{% extends "layout.html" %}

{% block content %}

<div class="form">
    <h2 class="heading_secondary">Be Connected Everywhere You Go!</h2>
    <form action="/signup" method="POST">
        <div class="form_group">
            <label class="form_label">Username:</label>
            <input class="form_input" type="text" name="username" placeholder="Enter or create display username" autofocus>
        </div>
        <div class="form_group">
            <label class="form_label">Password:</label>
            <input class="form_input" type="password" name="password" placeholder="••••••••" autofocus>
        </div>
        <div class="form_group">
            <label class="form_label">PasswordConfirm:</label>
            <input class="form_input" type="password" name="password" placeholder="••••••••" autofocus>
        </div>
        <div class="form_group">
            <button class="btn_login" type="submit">Sign up</button>
        </div>
    </form>
</div>

{% endblock %}